@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  h1 {
    @apply text-2xl font-bold;
  }
}

@layer components {
  .btn-primary {
    @apply px-7 bg-primary-500 text-white rounded py-2 font-bold;
  }
}

.hero {
  background: url(../images/hero.png) no-repeat center right / 600px;
}

body.dark {
  background-color: #1e293b;
  color: #e2e8f0;
}

.dark .bg-gray-200 {
  background-color: #334155;
}

.dark .text-gray-800 {
  color: #e2e8f0;
}

.dark .text-gray-600 {
  color: #94a3b8;
}

.dark .border-slate-400 {
  border-color: #64748b;
}
